@{
    ViewBag.Title = "Home Page";
}

@model BookListViewModel

<!--For my extra bootstrap, I added the table class, made the table dark, and changed the header back to light-->

<div class="text-center">
    <header>
        <h1>Buy a Book</h1>
    </header>
    <table class="table table-dark">
        <thead class="thead-light">
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th># of Pages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Books)
            {
                <tr>
                    <td>@b.BookID</td>
                    <td>@b.Title</td>
                    <td>@b.AuthorFirstName @b.AuthorMiddleName @b.AuthorLastName</td>
                    <td>@b.Publisher</td>
                    <td>@b.ISBN</td>
                    <td>@b.Classification</td>
                    <td>@b.Category</td>
                    <td>$@b.Price</td>
                    <td>@b.Pages</td>
                </tr>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
</div>
